.App {
  height: 100%;
  width: 100;
  align-items: flex-end;
  justify-content: space-around;
  padding-bottom: 20%,
  
}

.title{
  margin-top: 5cap;  
  font-family: 'Lato';
  color: #64C9AC

 }

.caption{
  color: #666666;
 }

.Main_view {
  margin-top:  0cap;
  margin-left: 30cap;
  margin-right: 30cap;
  display: flex;
  flex-direction: column;
   justify-content: space-between;
  align-items: center;
  
}

